<h1>Olá, Peakers!</h1>
<p>Esta é a minha aplicação single page de teste para Peak Invest, construído com:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para código server-side multiplataforma</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para código client-side</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para fazer o layout e os estilos</li>
</ul>
<p>O que este projeto faz?</p>
<ul>
  <li><strong>Consulta:</strong>.Traz um nome de uma lista da Web-API segundo um indice fornecido pelo usuário. Isso acontece através de um requisição GET.</li>
  <li><strong>Parcelas</strong>. Manda os valores e a quantidade de parcelas e juros para API através de uma requisição POST. A API faz o calculo do total a ser pago incluindo os juros</li>
</ul>
<p>Muito obrigado pela oportunidade, por enquanto é isso e nos vemos em breve!</p>

